span.badge {
  min-width: inherit;
}

span.badge.new:after {
  content: "" !important;
}

@media only screen and (max-width: 992px) {
  .side-nav.fixed {
    left: 0;
  }
}

.task-description {
  margin-right: 100px !important;
}

.task-add {
  position: absolute;
  right: 10px;
  top: 76px;
}

.task-card-date {
  font-size: 1.0rem;
  margin: 0;
  color: #fff;
}

.collection-header {
  padding: 20px;
}

#task-view {
  /*background-color: #39373A;*/
}

.modal-card .card-content-bg {
  /*background: url("../images/task-content-bg.jpg") no-repeat center center;*/
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.modal-card {
  margin: 0;
}


/* modal card */

.modal-card .modal-card-title {
  margin: 0;
  font-weight: 300;
  color: #fff;
}

.modal-card .modal-card-info {
  font-size: 1.0rem;
  margin: 0;
  color: #fff;
}

.modal-card .duedate {
  float: left;
}

.modal-card .hours {
  float: right;
}

.modal-card .card-content {
  color: #000;
}

.modal-card .card-header {
  padding: 20px 20px 40px;
}

.modal-card #hours {
  padding: 0 0.3em;
}

.modal-card .card-action .primary a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #f44336;
}

.collection-item .manage-content {
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: #9e9e9e;
}

.tag-color-view {
  padding-left: 20px;
  margin-right: 5px;
}

.location {
  position: absolute;
  right: 45px;
}

.volunteer-section {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  color: black;
  padding: 20px
}
.card-action label{
  padding-left: 25px !important;
  margin-right:15px;
}
.rating-bar{
  cursor: pointer;
  line-height: 1.5em;
  padding-left: 20px;
}
.rating-bar .stars{
  color: rgba(255, 64, 129, 0.22);
}
.rating-bar .current-rating {
  color: #ff4081;
}

.rating-bar .active {
  color: #ffeb3b;
}