<template name="headerNav">
    <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="green">
                <div class="nav-wrapper">

                    <ul class="left">
                        <li><h1 class="logo-wrapper"><a href="/" class="brand-logo darken-1"><img
                                src="/images/materialize-logo.png" alt="materialize logo"></a> <span class="logo-text">TaskWill</span>
                        </h1></li>
                    </ul>
                    <div class="header-search-wrapper hide-on-med-and-down">
                        <i class="mdi-action-search"></i>
                        <input type="text" name="Search" class="header-search-input z-depth-2"
                               placeholder="Explore Tasks"/>
                    </div>
                    <ul class="right">
                        <li class="hide-on-med-and-down"><a href="#"
                               class="waves-effect waves-block waves-light toggle-fullscreen"><i
                                class="mdi-action-settings-overscan"></i></a>
                        </li>
                        <li><a href="#" class="waves-effect waves-block waves-light translation-button"  data-activates="translation-dropdown">
                            <img src="/images/flag-icons/{{getFlag}}.png" alt="" />
                            </a>
                        </li>
                        <li><a href="#" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown">
                            <i class="mdi-social-notifications">{{#unless equals NotificationCount 0}}<small class="notification-badge">{{NotificationCount}}</small>{{/unless}}</i>
                            </a>
                        </li>      
                    </ul>
                    <ul id="translation-dropdown" class="dropdown-content">
                      <li>
                        <a href="#" data-lang="en" class="change-language-button"><img src="/images/flag-icons/United-States.png" alt="English" />  <span class="language-select">English</span></a>
                      </li>
                      <li>
                        <a href="#" data-lang="tr" class="change-language-button"><img src="/images/flag-icons/Turkey.png" alt="Turkish" />  <span class="language-select">Türkçe</span></a>
                      </li>                      
                    </ul>
                    <ul id="notifications-dropdown" class="dropdown-content">
                      <li id="mark-as-read">
                        <!--<a>{{_ "NOTIFICATIONS"}} <i style="width:28px;height:28px; line-height:28px" class="right material-icons">done_all</i></a>-->
                        <a href="#"><i  class="material-icons">done_all</i> {{_ "NOTIFICATIONS"}}</a>
                      </li>
                      <li class="divider"></li>
                      {{#each Notifications}}
                      <li>
                        <a class="{{getNotificationStatus read}}" href="#"><i class="{{getNotificationIcon}}"></i> {{text}}</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">{{formatDate  createdAt}}</time>
                      </li>
                      {{/each}}
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
    <!-- END HEADER -->
</template>