<template name="sideNav">
  <!-- START LEFT SIDEBAR NAV-->
  <aside id="left-sidebar-nav">
    <ul id="slide-out" class="side-nav fixed leftside-navigation">
      <li class="user-details cyan darken-2">
        <div class="row">
          <div class="col col s4 m4 l4">
            <img src="{{currentUser.services.twitter.profile_image_url}}" alt="" class="circle responsive-img valign profile-image">
          </div>
          <div class="col col s8 m8 l8">
            <ul id="profile-dropdown" class="dropdown-content">
              <li><a href="{{pathFor route ="user/profile"}}"><i
                                    class="mdi-action-account-box"></i> Profile</a>
              </li>
              <li><a href="{{pathFor route ="logout"}}"><i
                                    class="mdi-hardware-keyboard-tab"></i> Logout</a>
              </li>
            </ul>
            <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown"><i
                                class="mdi-navigation-arrow-drop-down right"></i>
                            <span  class="truncate">{{currentUser.profile.name}}</span></a>

            <p class="user-roal">{{currentUser.role}}</p>
          </div>
        </div>
      </li>
      <li class="bold {{isActive '/tasks'}}"><a href="{{pathFor "tasks"}}" class="waves-effect waves-green"><i
                    class="mdi-image-panorama-fisheye"></i> {{_ "Tasks"}}<span class="new badge grey lighten-1">{{TaskCount}}</span></a>
      </li>
      {{#if userCan "manageTasks"}}
      <li class="bold {{isActive '/tasks/waiting'}}"><a href="{{pathFor 'tasks/:status' status='waiting'}}" class="waves-effect waves-green"><i
                    class="mdi-communication-call-received"></i> {{_ "Incoming Requests"}}<span class="new badge">{{RequestCount}}</span></a>
      </li>
      {{/if}}
      {{#if userCan "createTask"}}
      <li class="bold {{isActive '/mytasks/requests'}}"><a href="{{pathFor 'mytasks/:type' type='requests'}}" class="waves-effect waves-green"><i
                    class="mdi-communication-call-made"></i> {{_ "My Requests"}}<span class="new badge">{{MyRequestCount}}</span></a>
      </li>
      {{/if}}
      {{#if userCan "volunteerForTask"}}
      <li class="bold {{isActive '/mytasks/tasks'}}"><a href="{{pathFor 'mytasks/:type' type='tasks'}}" class="waves-effect waves-green"><i
                    class="mdi-maps-my-location"></i> {{_ "My Tasks"}}<span class="new badge">{{MyTaskCount}}</span></a>
      </li>
      {{/if}}
      
      {{#if userCan "changeSettings"}}
      <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
              <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-settings"></i> {{_ "Settings"}}</a>
                  <div class="collapsible-body">
                      <ul>
                        <li class="{{isActive 'users'}}"><a href="{{pathFor 'users'}}" >{{_ "Users"}}</a>
                        </li>
                        {{#if userCan "manageRoles"}}
                        <li class="bold {{isActive 'roles'}}"><a href="{{pathFor "roles"}}" class="waves-effect waves-green">{{_ "Roles"}}</a>
                        </li>
                        {{/if}}
                          <li class="{{isActive 'tags'}}"><a href="{{pathFor 'tags'}}" >{{_ "Tags"}}</a>
                          </li>
                        {{#if userCan "changeApplicationSettings"}}
                        <li class="bold {{isActive 'settings/application'}}"><a href="{{pathFor "settings/application"}}" class="waves-effect waves-green">{{_ "Application Settings"}}</a>
                        </li>
                        {{/if}}
                      </ul>
                  </div>
              </li>
          </ul>
      </li>
      {{/if}}
    </ul>

    <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only"><i
                class="mdi-navigation-menu"></i></a>
  </aside>


  <!-- END LEFT SIDEBAR NAV-->
</template>